.container {
  width: 98%;
  margin: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  color: black;
  gap: 5px;
}

.container div {
  display: flex;
  flex-direction: column;
}

.aa {
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 100px;
}

.author {
  font-size: 0.7rem;
  font-weight: bold;
}

.duration {
  font-size: 0.6rem;
  color: blue;
}
